/*!!START SILENT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Fruktur&display=swap');

html {
    font-size: 10px;
}
h1 {
    font-size: 10rem;
    font-family: fantasy;
    padding: 20px;
    margin: 30px;
    font-weight: bold;
    text-decoration: wavy underline;
    color: red;
    background-image: linear-gradient(to right top, #7df3fc, #6be4ff, #77d2ff, #99bdff, #bda5f5);
}

h2 {
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    color: blue;
    background-color: lightgray;
}

p {
    font-family: serif;
    font-size: 14px;
    padding: 6px;
    margin: 7px;
    color: black;
    background-color: gold;
}

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: green;
    background-image: url("https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png");
    width: 100px;
    height: 300px;
}

img {
    width: 100px;
    height: 300px;
    display: none;
}
/*!!END */
