body {
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    width: 500px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: width 2s 1s, height 2s 3s;
}

div:hover {
    width: 100px;
    height: 500px;
    border: 1px solid red;
    background-color: pink;
}

div.modified{
   
}